@tailwind base;
@tailwind components;
@tailwind utilities;

.actionButton {
  @apply rounded-full bg-gradient-to-tr from-red-500 via-purple-500 to-blue-500 font-semibold text-white transition-all duration-300 hover:scale-110 hover:bg-gradient-to-bl;
}

.heroLetters {
  @apply text-black transition-all hover:bg-gradient-to-r hover:from-red-500 hover:via-purple-500 hover:to-blue-500 hover:bg-clip-text hover:text-transparent;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
